@import "config";

/** Reset
 ---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-weight: 400;
    line-height: 1.5;
    font-size: 2rem;
}

/** Primary Container
 ---------------------------------------------------------*/
.container {
    max-width: 140rem;
    display: flex;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Input Section
 ---------------------------------------------------------*/
input[type="text"] {
    padding: 0.5rem;
    width: auto;
    min-width: 100%;
    line-height: 2rem;
}

.input {
    width: 30rem;
    height: 100%;
    padding: 1rem;
    background-color: $grey;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &_title {
        width: 100%;
        display: flex;
        flex-direction: column;

        &-label {
            display: flex;
            justify-content: center;
        }

        &-input {
            padding: 0.5rem;
        }
    }

    &_question {
        width: 100%;

        display: flex;
        flex-direction: column;

        &-label {
            display: flex;
            justify-content: center;
        }

        &-input {
            padding: 0.5rem;
        }
    }

    &_answer {
        width: 100%;

        display: flex;
        flex-direction: column;

        &-label {
            display: flex;
            justify-content: center;
        }

        &-input {
            padding: 0.5rem;
        }
    }

    &_submit {
        width: 100%;

        &-button {
            margin-top: 1rem;
            padding: 1rem 1.5rem;
        }
    }

    &_start {
        width: 100%;
    }

    &_display {
        // background-color: red;
        width: 100%;
        padding: 2rem 0 1rem 0;

        &-item {
            margin-bottom: 1rem;
            padding: 0 1rem;
            text-transform: capitalize;
            background-color: #fff;
            list-style: none;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-item:nth-child(odd) {
            background-color: #aaa;
        }

        &-item:hover {
        }

        &-delete {
            height: 1.8rem;
            width: 1.8rem;
        }
    }
}

.input :not(.input_display) div {
    padding-bottom: 2rem;
}


/** Quiz Card
 ---------------------------------------------------------*/

 .card {
    width: 100%;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center; 

    &_container {
        width: 60rem;
        height: 60rem;
        background-color: #000;
    }

 }